{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Link</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="main">
    <h1>Link</h1>
    <h3>avachatbot.com/Users/{{ current_user.username }}/chatbot.js</h1>
        <div class="wrap">
            <a href="{{ url_for('dashboard') }}" class="login-button">Dashboard</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>

{% endblock %}
