<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1>Welcome, {{ current_user.email }}!</h1>
    <h1>Link: root/Users/<span id="username"></span>/chatbot.js</h1>

    <script>
        // Function to get URL parameters
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Get the username from the URL
        var username = getParameterByName('user');
        const command = `python ../generate_file_user.py ${username}`;
        //console.log(`Output from code.py: ${stdout}`);

        // Update the content of the span element with the dynamic username
        document.getElementById('username').innerText = username || 'Guest';
    </script>
</body>
</html>
